* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboto slab' , serif; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-3deg); }
  20% {
    transform: rotate(5deg); }
  30% {
    transform: rotate(-8deg); }
  40% {
    transform: rotate(8deg); }
  50% {
    transform: rotate(-5deg); }
  60% {
    transform: rotate(3deg); }
  70% {
    transform: rotate(0deg); } }

@keyframes palpitar {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.02); } }

.contenedorHome {
  background-color: #5454C5;
  display: grid;
  height: 100%;
  grid-template-areas: "headerHome" "mainHome" "sectionHome" "footerHome"; }
  .contenedorHome header {
    grid-area: headerHome;
    position: sticky;
    top: 0%;
    z-index: 10; }
    .contenedorHome header div {
      display: none; }
    .contenedorHome header nav {
      display: flex;
      justify-content: center;
      margin-top: .3rem; }
      .contenedorHome header nav ul {
        background-color: #5A5ACB;
        padding: .6rem;
        border-radius: 1.4rem; }
        .contenedorHome header nav ul li {
          display: inline-block;
          list-style: none; }
          .contenedorHome header nav ul li a {
            text-decoration: none;
            color: white; }
  .contenedorHome main {
    grid-area: mainHome;
    background-color: #FC605E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
    border-radius: 2rem; }
    .contenedorHome main img {
      display: none; }
    .contenedorHome main div p {
      color: white;
      text-align: center;
      font-size: 2.3rem; }
    .contenedorHome main div h2 {
      color: white;
      text-transform: uppercase;
      font-size: 4.6rem;
      text-align: center;
      padding: .5rem; }
    .contenedorHome main div div {
      display: flex;
      justify-content: center; }
      .contenedorHome main div div a {
        background-color: #BD2330;
        margin: 1rem;
        border-radius: .2rem;
        text-decoration: none;
        color: white;
        padding: .6rem;
        font-size: 1.4rem;
        /*animacion*/
        animation-name: shake;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out; }
  .contenedorHome section {
    height: 95vh;
    grid-area: sectionHome;
    background-color: #484554;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center; }
    .contenedorHome section h2 {
      color: white;
      text-align: center;
      flex-wrap: wrap;
      font-size: 2rem;
      margin: .6rem; }
    .contenedorHome section div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .contenedorHome section div img {
        width: 13rem;
        height: 13rem;
        padding: 1rem;
        /*animacion*/
        animation-name: palpitar;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out; }
    .contenedorHome section .btn a {
      background-color: #4ABEA1;
      margin: 1rem;
      border-radius: .2rem;
      text-decoration: none;
      color: white;
      padding: .6rem;
      font-size: 1.4rem;
      /*animacion*/
      animation-name: shake;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-delay: .3s; }
  .contenedorHome footer {
    grid-area: footerHome;
    background-color: #ADA9BB; }
    .contenedorHome footer div {
      display: flex;
      justify-content: center; }
      .contenedorHome footer div a {
        text-decoration: none;
        border-bottom: 1px solid #9D9090; }
        .contenedorHome footer div a img {
          width: 3rem;
          height: 3rem;
          margin: 0.5rem; }
    .contenedorHome footer .copyRight {
      margin: 1rem; }
      .contenedorHome footer .copyRight p {
        font-weight: bold;
        text-align: center; }
