* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboto slab' , serif; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-3deg); }
  20% {
    transform: rotate(5deg); }
  30% {
    transform: rotate(-8deg); }
  40% {
    transform: rotate(8deg); }
  50% {
    transform: rotate(-5deg); }
  60% {
    transform: rotate(3deg); }
  70% {
    transform: rotate(0deg); } }

@keyframes palpitar {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.02); } }

@keyframes animacion-nav-img {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.contenedor-home header, .contenedor-sobre-mi header, .contenedor-conocimientos header, .contenedor-portafolio header, .contenedor-contacto header {
  height: 7vh;
  position: sticky;
  top: 0%;
  z-index: 15;
  background-color: #5A5ACB; }
  .contenedor-home header div, .contenedor-sobre-mi header div, .contenedor-conocimientos header div, .contenedor-portafolio header div, .contenedor-contacto header div {
    display: none; }
  .contenedor-home header nav label, .contenedor-sobre-mi header nav label, .contenedor-conocimientos header nav label, .contenedor-portafolio header nav label, .contenedor-contacto header nav label {
    display: flex;
    justify-content: center;
    align-self: center; }
    .contenedor-home header nav label img, .contenedor-sobre-mi header nav label img, .contenedor-conocimientos header nav label img, .contenedor-portafolio header nav label img, .contenedor-contacto header nav label img {
      margin-top: .2rem;
      width: 2.5rem;
      height: 2.5rem;
      display: inherit;
      align-self: center; }
      .contenedor-home header nav label img:active, .contenedor-sobre-mi header nav label img:active, .contenedor-conocimientos header nav label img:active, .contenedor-portafolio header nav label img:active, .contenedor-contacto header nav label img:active {
        transform: scale(0.9); }
  .contenedor-home header nav input, .contenedor-sobre-mi header nav input, .contenedor-conocimientos header nav input, .contenedor-portafolio header nav input, .contenedor-contacto header nav input {
    display: none; }
    .contenedor-home header nav input:checked + ul, .contenedor-sobre-mi header nav input:checked + ul, .contenedor-conocimientos header nav input:checked + ul, .contenedor-portafolio header nav input:checked + ul, .contenedor-contacto header nav input:checked + ul {
      background-color: #5A5ACB;
      clip-path: circle(150% at 50% 0); }
      .contenedor-home header nav input:checked + ul > li:nth-child(1) a, .contenedor-sobre-mi header nav input:checked + ul > li:nth-child(1) a, .contenedor-conocimientos header nav input:checked + ul > li:nth-child(1) a, .contenedor-portafolio header nav input:checked + ul > li:nth-child(1) a, .contenedor-contacto header nav input:checked + ul > li:nth-child(1) a {
        animation-name: animacion-nav-img;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-delay: 0s; }
      .contenedor-home header nav input:checked + ul > li:nth-child(2) a, .contenedor-sobre-mi header nav input:checked + ul > li:nth-child(2) a, .contenedor-conocimientos header nav input:checked + ul > li:nth-child(2) a, .contenedor-portafolio header nav input:checked + ul > li:nth-child(2) a, .contenedor-contacto header nav input:checked + ul > li:nth-child(2) a {
        animation-name: animacion-nav-img;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-delay: 0.2s; }
      .contenedor-home header nav input:checked + ul > li:nth-child(3) a, .contenedor-sobre-mi header nav input:checked + ul > li:nth-child(3) a, .contenedor-conocimientos header nav input:checked + ul > li:nth-child(3) a, .contenedor-portafolio header nav input:checked + ul > li:nth-child(3) a, .contenedor-contacto header nav input:checked + ul > li:nth-child(3) a {
        animation-name: animacion-nav-img;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-delay: 0.4s; }
      .contenedor-home header nav input:checked + ul > li:nth-child(4) a, .contenedor-sobre-mi header nav input:checked + ul > li:nth-child(4) a, .contenedor-conocimientos header nav input:checked + ul > li:nth-child(4) a, .contenedor-portafolio header nav input:checked + ul > li:nth-child(4) a, .contenedor-contacto header nav input:checked + ul > li:nth-child(4) a {
        animation-name: animacion-nav-img;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-delay: 0.6s; }
      .contenedor-home header nav input:checked + ul > li:nth-child(5) a, .contenedor-sobre-mi header nav input:checked + ul > li:nth-child(5) a, .contenedor-conocimientos header nav input:checked + ul > li:nth-child(5) a, .contenedor-portafolio header nav input:checked + ul > li:nth-child(5) a, .contenedor-contacto header nav input:checked + ul > li:nth-child(5) a {
        animation-name: animacion-nav-img;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-delay: 0.8s; }
  .contenedor-home header nav ul, .contenedor-sobre-mi header nav ul, .contenedor-conocimientos header nav ul, .contenedor-portafolio header nav ul, .contenedor-contacto header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(0% at 50% 0);
    transition: clip-path .3s ease-in-out;
    height: 50vh;
    margin: 0rem;
    padding-left: 0rem;
    background-color: #5A5ACB; }
    .contenedor-home header nav ul li, .contenedor-sobre-mi header nav ul li, .contenedor-conocimientos header nav ul li, .contenedor-portafolio header nav ul li, .contenedor-contacto header nav ul li {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedor-home header nav ul li a, .contenedor-sobre-mi header nav ul li a, .contenedor-conocimientos header nav ul li a, .contenedor-portafolio header nav ul li a, .contenedor-contacto header nav ul li a {
        display: flex;
        text-decoration: none; }
        .contenedor-home header nav ul li a img, .contenedor-sobre-mi header nav ul li a img, .contenedor-conocimientos header nav ul li a img, .contenedor-portafolio header nav ul li a img, .contenedor-contacto header nav ul li a img {
          width: 2rem;
          height: 2rem;
          margin: .5rem; }
        .contenedor-home header nav ul li a p, .contenedor-sobre-mi header nav ul li a p, .contenedor-conocimientos header nav ul li a p, .contenedor-portafolio header nav ul li a p, .contenedor-contacto header nav ul li a p {
          color: white;
          font-size: 2rem;
          border-bottom: 1px solid #BD2330;
          border-bottom-style: dotted; }
        .contenedor-home header nav ul li a:active, .contenedor-sobre-mi header nav ul li a:active, .contenedor-conocimientos header nav ul li a:active, .contenedor-portafolio header nav ul li a:active, .contenedor-contacto header nav ul li a:active {
          transform: scale(0.9); }
          .contenedor-home header nav ul li a:active p, .contenedor-sobre-mi header nav ul li a:active p, .contenedor-conocimientos header nav ul li a:active p, .contenedor-portafolio header nav ul li a:active p, .contenedor-contacto header nav ul li a:active p {
            color: #BD2330; }

.contenedor-home footer div, .contenedor-sobre-mi footer div, .contenedor-conocimientos footer div, .contenedor-portafolio footer div, .contenedor-contacto footer div {
  display: flex;
  justify-content: center; }
  .contenedor-home footer div a, .contenedor-sobre-mi footer div a, .contenedor-conocimientos footer div a, .contenedor-portafolio footer div a, .contenedor-contacto footer div a {
    text-decoration: none;
    border-bottom: 1px solid #9D9090; }
    .contenedor-home footer div a img, .contenedor-sobre-mi footer div a img, .contenedor-conocimientos footer div a img, .contenedor-portafolio footer div a img, .contenedor-contacto footer div a img {
      width: 3rem;
      height: 3rem;
      margin: 0.5rem; }

.contenedor-home footer .copy-right, .contenedor-sobre-mi footer .copy-right, .contenedor-conocimientos footer .copy-right, .contenedor-portafolio footer .copy-right, .contenedor-contacto footer .copy-right {
  margin: .3rem;
  display: flex;
  flex-direction: column; }
  .contenedor-home footer .copy-right span, .contenedor-sobre-mi footer .copy-right span, .contenedor-conocimientos footer .copy-right span, .contenedor-portafolio footer .copy-right span, .contenedor-contacto footer .copy-right span {
    font-weight: bold;
    text-align: center; }

.contenedor-home {
  background-color: #5454C5;
  display: grid;
  grid-template-areas: "header-home" "main-home" "section-home" "footer-home";
  grid-template-columns: 1fr; }
  .contenedor-home header {
    grid-area: header-home; }
  .contenedor-home main {
    grid-area: main-home;
    justify-self: center;
    background-color: #FC605E;
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 2rem;
    width: fit-content; }
    .contenedor-home main img {
      display: none; }
    .contenedor-home main div p {
      color: white;
      text-align: center;
      font-size: 1.5rem; }
    .contenedor-home main div h1 {
      color: white;
      text-transform: uppercase;
      font-size: 2.5rem;
      text-align: center;
      padding: .5rem 0rem; }
    .contenedor-home main div div {
      display: flex;
      justify-content: center; }
      .contenedor-home main div div a {
        background-color: #BD2330;
        margin: 1rem;
        border-radius: .2rem;
        text-decoration: none;
        color: white;
        padding: .6rem;
        font-size: 1.5rem; }
        .contenedor-home main div div a:hover {
          /*animacion*/
          animation-name: shake;
          animation-duration: .7s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out; }
  .contenedor-home section {
    grid-area: section-home;
    background-color: #484554;
    margin: 1rem;
    border-radius: 2rem;
    justify-self: center; }
    .contenedor-home section h2 {
      color: white;
      text-align: center;
      flex-wrap: wrap;
      font-size: 1.5rem;
      margin: .6rem 0rem; }
    .contenedor-home section div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .contenedor-home section div img {
        width: 13rem;
        height: 13rem;
        padding: 1rem;
        /*animacion*/
        animation-name: palpitar;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out; }
    .contenedor-home section .btn a {
      background-color: #4ABEA1;
      margin: 1rem;
      border-radius: .2rem;
      text-decoration: none;
      color: white;
      padding: .6rem;
      font-size: 1.5rem; }
      .contenedor-home section .btn a:hover {
        /*animacion*/
        animation-name: shake;
        animation-duration: .7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out; }
  .contenedor-home footer {
    grid-area: footer-home;
    background-color: #ADA9BB; }

.contenedor-sobre-mi {
  background-color: #5454C5;
  display: grid;
  grid-template-areas: "header-sobre-mi" "main-sobre-mi" "section-sobre-mi" "footer-sobre-mi";
  grid-template-columns: 1fr; }
  .contenedor-sobre-mi header {
    grid-area: header-sobre-mi; }
  .contenedor-sobre-mi main {
    grid-area: main-sobre-mi;
    background-color: #FC605E;
    margin: 1rem;
    border-radius: 2rem; }
    .contenedor-sobre-mi main div {
      padding: 1rem; }
      .contenedor-sobre-mi main div h1 {
        color: white;
        text-transform: uppercase;
        font-size: 2.5rem;
        text-align: center; }
      .contenedor-sobre-mi main div p {
        color: white;
        font-size: 1.5rem;
        text-align: center; }
    .contenedor-sobre-mi main img {
      display: none; }
  .contenedor-sobre-mi section {
    grid-area: section-sobre-mi;
    background-color: #484554;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0rem 1rem 1rem 1rem;
    border-radius: 2rem;
    justify-content: center; }
    .contenedor-sobre-mi section h2 {
      color: white;
      text-align: center;
      flex-wrap: wrap;
      font-size: 1.5rem;
      margin: .6rem; }
    .contenedor-sobre-mi section p {
      color: white;
      text-align: center;
      font-size: 1.5rem; }
  .contenedor-sobre-mi footer {
    grid-area: footer-sobre-mi;
    background-color: #ADA9BB; }

.contenedor-conocimientos {
  background-color: #5454C5;
  display: grid;
  grid-template-areas: "header-conocimientos" "main-conocimientos" "section-conocimientos" "footer-conocimientos"; }
  .contenedor-conocimientos header {
    grid-area: header-conocimientos; }
    .contenedor-conocimientos header nav ul li a p {
      /*resets de estilos de BootsTrap*/
      margin-bottom: 0rem; }
  .contenedor-conocimientos main {
    grid-area: main-conocimientos;
    background-color: #FC605E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 2rem; }
    .contenedor-conocimientos main h1 {
      font-size: 2.5rem;
      color: white;
      text-align: center;
      font-weight: bold; }
    .contenedor-conocimientos main div {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }
      .contenedor-conocimientos main div img {
        width: 12rem;
        height: 12rem;
        padding: .6rem;
        /*animacion*/
        animation-name: palpitar;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        /*modificando elementos especificos*/ }
        .contenedor-conocimientos main div img:nth-child(2) {
          animation-delay: .5s; }
        .contenedor-conocimientos main div img:nth-child(3) {
          animation-delay: 1s; }
        .contenedor-conocimientos main div img:nth-child(4) {
          animation-delay: 1.5s; }
        .contenedor-conocimientos main div img:nth-child(5) {
          animation-delay: 2s; }
        .contenedor-conocimientos main div img:nth-child(6) {
          animation-delay: 2.5s; }
        .contenedor-conocimientos main div img:nth-child(7) {
          animation-delay: 3s; }
  .contenedor-conocimientos section {
    grid-area: section-conocimientos;
    background-color: #484554;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 2rem;
    align-items: center; }
    .contenedor-conocimientos section .lista1, .contenedor-conocimientos section .lista2, .contenedor-conocimientos section .lista3, .contenedor-conocimientos section .lista4, .contenedor-conocimientos section .lista5 {
      background-color: #FC605E;
      margin: 1rem;
      padding: .5rem;
      border-radius: 1rem;
      width: 25rem; }
      .contenedor-conocimientos section .lista1 label, .contenedor-conocimientos section .lista2 label, .contenedor-conocimientos section .lista3 label, .contenedor-conocimientos section .lista4 label, .contenedor-conocimientos section .lista5 label {
        color: white;
        text-transform: uppercase;
        border-bottom: 1px solid white; }
  .contenedor-conocimientos footer {
    grid-area: footer-conocimientos;
    background-color: #ADA9BB; }

.contenedor-portafolio {
  background-color: #5454C5;
  display: grid;
  grid-template-areas: "header-portafolio" "main-portafolio" "footer-portafolio"; }
  .contenedor-portafolio header {
    grid-area: header-portafolio; }
  .contenedor-portafolio main {
    grid-area: main-portafolio;
    background-color: #FC605E;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 2rem; }
    .contenedor-portafolio main div {
      background-color: #484554;
      padding: .5rem;
      margin: .6rem;
      border-radius: 2rem;
      /*animacion*/
      animation-name: palpitar;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      /*modificando elementos especificos*/ }
      .contenedor-portafolio main div:nth-child(2) {
        animation-delay: .5s; }
      .contenedor-portafolio main div:nth-child(3) {
        animation-delay: 1s; }
      .contenedor-portafolio main div:nth-child(4) {
        animation-delay: 1.5s; }
      .contenedor-portafolio main div:nth-child(5) {
        animation-delay: 2s; }
      .contenedor-portafolio main div:nth-child(6) {
        animation-delay: 2.5s; }
      .contenedor-portafolio main div img {
        width: 11rem;
        height: 11rem;
        padding: .3rem; }
      .contenedor-portafolio main div p {
        color: white;
        text-align: center;
        font-size: 1.4rem; }
  .contenedor-portafolio footer {
    grid-area: footer-portafolio;
    background-color: #ADA9BB; }

.contenedor-contacto {
  background-color: #5454C5;
  display: grid;
  grid-template-areas: "header-contacto" "main-contacto" "section-contacto" "footer-contacto"; }
  .contenedor-contacto header {
    grid-area: header-contacto; }
  .contenedor-contacto main {
    grid-area: main-contacto;
    background-color: #FC605E;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 2rem;
    color: white;
    padding: .4rem; }
    .contenedor-contacto main h1 {
      font-size: 2.5rem;
      text-align: center;
      text-transform: uppercase; }
    .contenedor-contacto main h2 {
      text-align: center;
      font-size: 1.5rem; }
    .contenedor-contacto main p {
      text-align: center;
      font-size: 1.2rem; }
  .contenedor-contacto section {
    grid-area: section-contacto;
    background-color: #484554;
    display: flex;
    flex-direction: column;
    padding: .4rem;
    margin: 1rem;
    border-radius: 2rem; }
    .contenedor-contacto section h2 {
      font-size: 1.5rem;
      text-align: center;
      color: white;
      padding: .5rem; }
    .contenedor-contacto section form fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 0px; }
      .contenedor-contacto section form fieldset div {
        padding: .6rem;
        display: flex;
        justify-content: center; }
        .contenedor-contacto section form fieldset div input {
          width: 20rem;
          height: 3rem;
          border-radius: 1.3rem;
          border: none;
          padding-left: .3rem; }
          .contenedor-contacto section form fieldset div input:focus {
            outline: 1;
            outline-color: #4ABEA1; }
        .contenedor-contacto section form fieldset div:nth-child(5) input {
          padding: 1.4rem 0rem 9rem .5rem; }
        .contenedor-contacto section form fieldset div:nth-child(6) input {
          width: 11rem;
          background-color: #4ABEA1;
          color: white;
          font-size: 1.3rem; }
  .contenedor-contacto footer {
    grid-area: footer-contacto;
    background-color: #ADA9BB; }

@media only screen and (min-width: 480px) {
  .contenedor-home {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-home header-home" "main-home main-home" "section-home section-home" "footer-home footer-home";
    grid-template-columns: 1fr 1fr; }
    .contenedor-home header {
      height: 9vh; }
      .contenedor-home header nav ul {
        height: 55vh; }
    .contenedor-home main div p {
      font-size: 2rem; }
    .contenedor-home main div h1 {
      font-size: 4rem; }
    .contenedor-home main div div a {
      font-size: 2rem; }
    .contenedor-home section h2 {
      font-size: 2rem; }
    .contenedor-home section .btn a {
      font-size: 2rem; }
  .contenedor-sobre-mi {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-sobre-mi header-sobre-mi" "main-sobre-mi main-sobre-mi" "section-sobre-mi section-sobre-mi" "footer-sobre-mi footer-sobre-mi";
    grid-template-columns: 1fr 1fr; } }

@media only screen and (min-width: 600px) {
  /*home*/
  .contenedor-home {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-home header-home header-home" "main-home main-home main-home" "section-home section-home section-home" "footer-home footer-home footer-home";
    grid-template-columns: 1fr 1fr 1fr; }
    .contenedor-home header {
      display: flex;
      justify-content: space-between;
      height: 10vh; }
      .contenedor-home header div {
        display: block;
        align-self: center; }
        .contenedor-home header div a img {
          width: 3.5rem;
          padding-left: .2rem; }
      .contenedor-home header nav {
        margin-top: .1rem;
        display: flex;
        flex-direction: column;
        padding: .2rem;
        height: 100vh;
        width: 60vh; }
        .contenedor-home header nav label {
          display: inherit;
          align-self: end; }
        .contenedor-home header nav input:checked + ul {
          clip-path: circle(150% at 100 0%); }
        .contenedor-home header nav ul {
          height: 100vh;
          clip-path: circle(0% at 100 0%); }
    .contenedor-home main {
      margin-top: 1rem;
      width: 80vh; }
    .contenedor-home section {
      width: 80vh;
      justify-self: center; }
  /*Sobre Mi*/
  .contenedor-sobre-mi {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-sobre-mi header-sobre-mi header-sobre-mi" "main-sobre-mi main-sobre-mi main-sobre-mi" "section-sobre-mi section-sobre-mi section-sobre-mi" "footer-sobre-mi footer-sobre-mi footer-sobre-mi"; }
    .contenedor-sobre-mi header {
      display: flex;
      justify-content: space-between;
      height: 10vh; }
      .contenedor-sobre-mi header div {
        display: block;
        align-self: center; }
        .contenedor-sobre-mi header div a img {
          width: 3.5rem;
          padding-left: .2rem; }
      .contenedor-sobre-mi header nav {
        margin-top: .1rem;
        display: flex;
        flex-direction: column;
        padding: .2rem;
        height: 100vh;
        width: 60vh; }
        .contenedor-sobre-mi header nav label {
          display: inherit;
          align-self: end; }
        .contenedor-sobre-mi header nav input:checked + ul {
          clip-path: circle(150% at 100 0%); }
        .contenedor-sobre-mi header nav ul {
          height: 100vh;
          clip-path: circle(0% at 100 0%); }
    .contenedor-sobre-mi main {
      width: 80vh;
      justify-self: center; }
    .contenedor-sobre-mi section {
      width: 80vh;
      justify-self: center; }
  /*Conocimientos*/
  .contenedor-conocimientos {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-conocimientos header-conocimientos header-conocimientos" "main-conocimientos main-conocimientos main-conocimientos" "section-conocimientos section-conocimientos section-conocimientos" "footer-conocimientos footer-conocimientos footer-conocimientos"; }
    .contenedor-conocimientos header {
      display: flex;
      justify-content: space-between;
      height: 10vh; }
      .contenedor-conocimientos header div {
        display: block;
        align-self: center; }
        .contenedor-conocimientos header div a img {
          width: 3.5rem;
          padding-left: .2rem; }
      .contenedor-conocimientos header nav {
        margin-top: .1rem;
        display: flex;
        flex-direction: column;
        padding: .2rem;
        height: 100vh;
        width: 60vh; }
        .contenedor-conocimientos header nav label {
          display: inherit;
          align-self: end; }
        .contenedor-conocimientos header nav input:checked + ul {
          clip-path: circle(150% at 100 0%); }
        .contenedor-conocimientos header nav ul {
          height: 100vh;
          clip-path: circle(0% at 100 0%); }
    .contenedor-conocimientos main {
      width: 83vh;
      justify-self: center; }
    .contenedor-conocimientos section {
      width: 83vh;
      justify-self: center; }
  /*portafolio*/
  .contenedor-portafolio {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: " header-portafolio header-portafolio header-portafolio" "main-portafolio main-portafolio main-portafolio" "section-portafolio section-portafolio section-portafolio" "footer-portafolio footer-portafolio footer-portafolio"; }
    .contenedor-portafolio header {
      display: flex;
      justify-content: space-between;
      height: 10vh; }
      .contenedor-portafolio header div {
        display: block;
        align-self: center; }
        .contenedor-portafolio header div a img {
          width: 3.5rem;
          padding-left: .2rem; }
      .contenedor-portafolio header nav {
        margin-top: .1rem;
        display: flex;
        flex-direction: column;
        padding: .2rem;
        height: 100vh;
        width: 60vh; }
        .contenedor-portafolio header nav label {
          display: inherit;
          align-self: end; }
        .contenedor-portafolio header nav input:checked + ul {
          clip-path: circle(150% at 100 0%); }
        .contenedor-portafolio header nav ul {
          height: 100vh;
          clip-path: circle(0% at 100 0%); }
    .contenedor-portafolio main {
      width: 80vh;
      justify-self: center; }
  /*Contacto*/
  .contenedor-contacto {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-contacto header-contacto header-contacto" "main-contacto main-contacto main-contacto" "section-contacto section-contacto section-contacto" "footer-contacto footer-contacto footer-contacto"; }
    .contenedor-contacto header {
      display: flex;
      justify-content: space-between;
      height: 10vh; }
      .contenedor-contacto header div {
        display: block;
        align-self: center; }
        .contenedor-contacto header div a img {
          width: 3.5rem;
          padding-left: .2rem; }
      .contenedor-contacto header nav {
        margin-top: .1rem;
        display: flex;
        flex-direction: column;
        padding: .2rem;
        height: 100vh;
        width: 60vh; }
        .contenedor-contacto header nav label {
          display: inherit;
          align-self: end; }
        .contenedor-contacto header nav input:checked + ul {
          clip-path: circle(150% at 100 0%); }
        .contenedor-contacto header nav ul {
          height: 100vh;
          clip-path: circle(0% at 100 0%); }
    .contenedor-contacto main {
      width: 80vh;
      justify-self: center; }
    .contenedor-contacto section {
      width: 80vh;
      justify-self: center; } }

@media only screen and (min-width: 1024px) {
  /*Home*/
  .contenedor-home {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-home header-home header-home header-home" "main-home main-home main-home main-home" "section-home section-home section-home section-home" "footer-home footer-home footer-home footer-home";
    grid-template-columns: repeat(4, 1fr); }
    .contenedor-home header {
      padding: .3rem;
      height: 9vh;
      margin-bottom: 0rem; }
      .contenedor-home header nav {
        display: flex;
        height: auto;
        width: auto; }
        .contenedor-home header nav label img {
          display: none; }
        .contenedor-home header nav ul {
          height: auto;
          clip-path: none;
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row; }
          .contenedor-home header nav ul li a {
            position: relative;
            z-index: 1; }
            .contenedor-home header nav ul li a:active {
              transform: scale(0.9);
              background-color: #b91724;
              border-radius: 2rem; }
            .contenedor-home header nav ul li a::before {
              border-radius: 2rem;
              content: "";
              position: absolute;
              inset: 0;
              z-index: -1;
              background: #BD2330;
              transition: clip-path .3s ease-in-out;
              clip-path: circle(0% at 50% 50%); }
            .contenedor-home header nav ul li a:hover::before {
              clip-path: circle(100% at 50% 50%); }
            .contenedor-home header nav ul li a img {
              display: none; }
            .contenedor-home header nav ul li a p {
              background-color: transparent;
              font-size: 1.4rem;
              margin: .2rem;
              padding: .2rem;
              border-bottom: 0px; }
              .contenedor-home header nav ul li a p:active {
                color: white; }
    .contenedor-home main {
      width: auto;
      cursor: default;
      justify-self: center;
      display: flex;
      align-items: center; }
      .contenedor-home main img {
        display: block;
        padding: .3rem; }
      .contenedor-home main div p {
        font-size: 3rem; }
      .contenedor-home main div h1 {
        display: inline-block;
        font-size: 5.5rem; }
      .contenedor-home main div div a {
        font-size: 2.5rem; }
    .contenedor-home section {
      width: fit-content;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr; }
      .contenedor-home section h2 {
        font-size: 4.5rem; }
      .contenedor-home section div {
        padding-top: 2rem; }
        .contenedor-home section div img {
          width: 14rem;
          height: 14rem;
          padding: .6rem; }
      .contenedor-home section .btn {
        margin-top: 2rem; }
        .contenedor-home section .btn a {
          font-size: 2.5rem;
          margin: 0rem;
          position: relative;
          bottom: 4rem; }
  /*sobreMi.html*/
  .contenedor-sobre-mi {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-sobre-mi header-sobre-mi header-sobre-mi header-sobre-mi" "main-sobre-mi main-sobre-mi main-sobre-mi main-sobre-mi" "section-sobre-mi section-sobre-mi section-sobre-mi section-sobre-mi" "footer-sobre-mi footer-sobre-mi footer-sobre-mi footer-sobre-mi"; }
    .contenedor-sobre-mi header {
      padding: .3rem;
      height: 9vh;
      margin-bottom: 0rem; }
      .contenedor-sobre-mi header nav {
        display: flex;
        height: auto;
        width: auto; }
        .contenedor-sobre-mi header nav label img {
          display: none; }
        .contenedor-sobre-mi header nav ul {
          height: auto;
          clip-path: none;
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row; }
          .contenedor-sobre-mi header nav ul li a {
            position: relative;
            z-index: 1; }
            .contenedor-sobre-mi header nav ul li a:active {
              transform: scale(0.9);
              background-color: #b91724;
              border-radius: 2rem; }
            .contenedor-sobre-mi header nav ul li a::before {
              border-radius: 2rem;
              content: "";
              position: absolute;
              inset: 0;
              z-index: -1;
              background: #BD2330;
              transition: clip-path .3s ease-in-out;
              clip-path: circle(0% at 50% 50%); }
            .contenedor-sobre-mi header nav ul li a:hover::before {
              clip-path: circle(100% at 50% 50%); }
            .contenedor-sobre-mi header nav ul li a img {
              display: none; }
            .contenedor-sobre-mi header nav ul li a p {
              background-color: transparent;
              font-size: 1.4rem;
              margin: .2rem;
              padding: .2rem;
              border-bottom: 0px; }
              .contenedor-sobre-mi header nav ul li a p:active {
                color: white; }
    .contenedor-sobre-mi main {
      display: flex;
      flex-wrap: nowrap;
      width: fit-content; }
      .contenedor-sobre-mi main div {
        padding: .3rem; }
        .contenedor-sobre-mi main div h1 {
          font-size: 4.5rem; }
        .contenedor-sobre-mi main div p {
          font-size: 2.3rem; }
      .contenedor-sobre-mi main img {
        display: block;
        height: 34rem;
        width: 34rem; }
    .contenedor-sobre-mi section {
      width: fit-content; }
      .contenedor-sobre-mi section h2 {
        font-size: 2.5rem; }
      .contenedor-sobre-mi section p {
        font-size: 1.5rem; }
  /*Conocimientos.html*/
  .contenedor-conocimientos {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-conocimientos header-conocimientos header-conocimientos header-conocimientos" "main-conocimientos main-conocimientos main-conocimientos main-conocimientos" "section-conocimientos section-conocimientos section-conocimientos section-conocimientos" "footer-conocimientos footer-conocimientos footer-conocimientos footer-conocimientos"; }
    .contenedor-conocimientos header {
      padding: .3rem;
      height: 9vh;
      margin-bottom: 0rem; }
      .contenedor-conocimientos header nav {
        display: flex;
        height: auto;
        width: auto; }
        .contenedor-conocimientos header nav label img {
          display: none; }
        .contenedor-conocimientos header nav ul {
          height: auto;
          clip-path: none;
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row; }
          .contenedor-conocimientos header nav ul li a {
            position: relative;
            z-index: 1; }
            .contenedor-conocimientos header nav ul li a:active {
              transform: scale(0.9);
              background-color: #b91724;
              border-radius: 2rem; }
            .contenedor-conocimientos header nav ul li a::before {
              border-radius: 2rem;
              content: "";
              position: absolute;
              inset: 0;
              z-index: -1;
              background: #BD2330;
              transition: clip-path .3s ease-in-out;
              clip-path: circle(0% at 50% 50%); }
            .contenedor-conocimientos header nav ul li a:hover::before {
              clip-path: circle(100% at 50% 50%); }
            .contenedor-conocimientos header nav ul li a img {
              display: none; }
            .contenedor-conocimientos header nav ul li a p {
              background-color: transparent;
              font-size: 1.4rem;
              margin: .2rem;
              padding: .2rem;
              border-bottom: 0px; }
              .contenedor-conocimientos header nav ul li a p:active {
                color: white; }
    .contenedor-conocimientos main {
      width: fit-content; }
      .contenedor-conocimientos main h1 {
        font-size: 2.5rem; }
      .contenedor-conocimientos main div img {
        width: 17rem;
        height: 17rem; }
    .contenedor-conocimientos section {
      width: auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .contenedor-conocimientos section .lista1, .contenedor-conocimientos section .lista2, .contenedor-conocimientos section .lista3, .contenedor-conocimientos section .lista4, .contenedor-conocimientos section .lista5 {
        height: 7rem; }
  /*portafolio.html*/
  .contenedor-portafolio {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header{ortafolio header{ortafolio header{ortafolio header{ortafolio" "main{ortafolio main{ortafolio main{ortafolio main{ortafolio" "section{ortafolio section{ortafolio section{ortafolio section{ortafolio" "footer{ortafolio footer{ortafolio footer{ortafolio footer{ortafolio"; }
    .contenedor-portafolio header {
      padding: .3rem;
      height: 9vh;
      margin-bottom: 0rem; }
      .contenedor-portafolio header nav {
        display: flex;
        height: auto;
        width: auto; }
        .contenedor-portafolio header nav label img {
          display: none; }
        .contenedor-portafolio header nav ul {
          height: auto;
          clip-path: none;
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row; }
          .contenedor-portafolio header nav ul li a {
            position: relative;
            z-index: 1; }
            .contenedor-portafolio header nav ul li a:active {
              transform: scale(0.9);
              background-color: #b91724;
              border-radius: 2rem; }
            .contenedor-portafolio header nav ul li a::before {
              border-radius: 2rem;
              content: "";
              position: absolute;
              inset: 0;
              z-index: -1;
              background: #BD2330;
              transition: clip-path .3s ease-in-out;
              clip-path: circle(0% at 50% 50%); }
            .contenedor-portafolio header nav ul li a:hover::before {
              clip-path: circle(100% at 50% 50%); }
            .contenedor-portafolio header nav ul li a img {
              display: none; }
            .contenedor-portafolio header nav ul li a p {
              background-color: transparent;
              font-size: 1.4rem;
              margin: .2rem;
              padding: .2rem;
              border-bottom: 0px; }
              .contenedor-portafolio header nav ul li a p:active {
                color: white; }
    .contenedor-portafolio main {
      padding: 1rem;
      width: auto; }
      .contenedor-portafolio main div img {
        width: 19rem;
        height: 19rem;
        padding: .6rem; }
      .contenedor-portafolio main div p {
        font-size: 2rem; }
  /*contacto.html*/
  .contenedor-contacto {
    background-color: #5454C5;
    display: grid;
    grid-template-areas: "header-contacto header-contacto header-contacto header-contacto" "main-contacto main-contacto main-contacto main-contacto" "section-contacto section-contacto section-contacto section-contacto" "footer-contacto footer-contacto footer-contacto footer-contacto"; }
    .contenedor-contacto header {
      padding: .3rem;
      height: 9vh;
      margin-bottom: 0rem; }
      .contenedor-contacto header nav {
        display: flex;
        height: auto;
        width: auto; }
        .contenedor-contacto header nav label img {
          display: none; }
        .contenedor-contacto header nav ul {
          height: auto;
          clip-path: none;
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row; }
          .contenedor-contacto header nav ul li a {
            position: relative;
            z-index: 1; }
            .contenedor-contacto header nav ul li a:active {
              transform: scale(0.9);
              background-color: #b91724;
              border-radius: 2rem; }
            .contenedor-contacto header nav ul li a::before {
              border-radius: 2rem;
              content: "";
              position: absolute;
              inset: 0;
              z-index: -1;
              background: #BD2330;
              transition: clip-path .3s ease-in-out;
              clip-path: circle(0% at 50% 50%); }
            .contenedor-contacto header nav ul li a:hover::before {
              clip-path: circle(100% at 50% 50%); }
            .contenedor-contacto header nav ul li a img {
              display: none; }
            .contenedor-contacto header nav ul li a p {
              background-color: transparent;
              font-size: 1.4rem;
              margin: .2rem;
              padding: .2rem;
              border-bottom: 0px; }
              .contenedor-contacto header nav ul li a p:active {
                color: white; }
    .contenedor-contacto main {
      width: fit-content; }
      .contenedor-contacto main h1 {
        font-size: 4.5rem; }
      .contenedor-contacto main h2 {
        font-size: 2.5rem; }
      .contenedor-contacto main p {
        font-size: 2.5rem; }
    .contenedor-contacto section {
      width: 97.7%; }
      .contenedor-contacto section h2 {
        font-size: 2.5rem; }
      .contenedor-contacto section form fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .contenedor-contacto section form fieldset div input {
          width: 26rem; }
        .contenedor-contacto section form fieldset div:nth-child(1) {
          order: 1;
          justify-self: end; }
        .contenedor-contacto section form fieldset div:nth-child(2) {
          order: 3;
          position: relative;
          bottom: 3.6rem;
          justify-self: end; }
        .contenedor-contacto section form fieldset div:nth-child(3) {
          order: 5;
          position: relative;
          bottom: 7rem;
          justify-self: end; }
        .contenedor-contacto section form fieldset div:nth-child(4) {
          order: 2;
          justify-self: start; }
        .contenedor-contacto section form fieldset div:nth-child(5) {
          order: 3;
          justify-self: start; }
        .contenedor-contacto section form fieldset div:nth-child(6) {
          order: 6;
          justify-self: start;
          position: relative;
          left: 7rem; }
          .contenedor-contacto section form fieldset div:nth-child(6) input {
            transition: .3s ease-in-out; }
            .contenedor-contacto section form fieldset div:nth-child(6) input:hover {
              transform: scale(1.1); } }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-3deg); }
  20% {
    transform: rotate(5deg); }
  30% {
    transform: rotate(-8deg); }
  40% {
    transform: rotate(8deg); }
  50% {
    transform: rotate(-5deg); }
  60% {
    transform: rotate(3deg); }
  70% {
    transform: rotate(0deg); } }

@keyframes palpitar {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.02); } }

@keyframes animacion-nav-img {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
