//media querie tablet
@media only screen and (min-width:768px){
    /*home*/
    .contenedor-home{
        @include conteiner ("header-home header-home header-home"
                            "main-home main-home main-home"
                            "section-home section-home section-home"
                            "footer-home footer-home footer-home");
        header{
            @include header-t;
        }
        main{
            margin-top: 1rem;
            width: 80vh;
            justify-self: center;
        }
        section{
            width: 80vh;
            justify-self: center;
        }
    }

    /*Sobre Mi*/
    .contenedor-sobre-mi{
        @include conteiner ("header-sobre-mi header-sobre-mi header-sobre-mi"
        "main-sobre-mi main-sobre-mi main-sobre-mi"
        "section-sobre-mi section-sobre-mi section-sobre-mi"
        "footer-sobre-mi footer-sobre-mi footer-sobre-mi");
        header{
            @include header-t;
        }
        main{
            width: 80vh;
            justify-self: center;
        }
        section{
            width: 80vh;
            justify-self: center;
        }
    }

    /*Conocimientos*/
    .contenedor-conocimientos{
        @include conteiner ("header-conocimientos header-conocimientos header-conocimientos"
        "main-conocimientos main-conocimientos main-conocimientos"
        "section-conocimientos section-conocimientos section-conocimientos"
        "footer-conocimientos footer-conocimientos footer-conocimientos");
        header{
            @include header-t;
        }
        main{
            width: 83vh;
            justify-self: center;
        }
        section{
            width: 83vh;
            justify-self: center;
        }
    }

    /*portafolio*/
    .contenedor-portafolio{
        @include conteiner (" header-portafolio header-portafolio header-portafolio"
        "main-portafolio main-portafolio main-portafolio"
        "section-portafolio section-portafolio section-portafolio"
        "footer-portafolio footer-portafolio footer-portafolio");
        header{
            @include header-t;
        }
        main{
            width: 80vh;
            justify-self: center;
        }

    }

    /*Contacto*/
    .contenedor-contacto{
        @include conteiner ("header-contacto header-contacto header-contacto"
        "main-contacto main-contacto main-contacto"
        "section-contacto section-contacto section-contacto"
        "footer-contacto footer-contacto footer-contacto");
        header{
            @include header-t;
        }
        main{
            width: 80vh;
            justify-self: center;
        }
        section{
            width: 80vh;
            justify-self: center;
        }
    }
}

//media querie desktop
@media only screen and (min-width:1024px){
    /*Home*/
    .contenedor-home{
        @include conteiner ("header-home header-home header-home header-home"
                            "main-home main-home main-home main-home"
                            "section-home section-home section-home section-home"
                            "footer-home footer-home footer-home footer-home");
        header{
            @include header-d;
        }
        main{
            cursor:default;
            width: auto;
            img{
                display: block;
                padding: 1rem;
            }
            div{
                p{
                    font-size: 4rem;
                }
                h1{
                    font-size: 6rem;
                }
                div{
                    a{
                       font-size: 2rem; 
                    }
                }
            }
        }
        section{
            width: auto;
            cursor: default;
            display: grid;
            grid-template-columns: 1fr 1fr;
            h2{
                font-size: 5rem;
            }
            div{
                padding-top: 4rem;
                img{
                    width: 14rem;
                    height: 14rem;
                    padding: .6rem;
                }
            }
            .btn{
                height: 13vh;
                a{
                    font-size: 2rem;
                    margin: 0rem;
                    position: relative;
                    bottom: 4rem;
                }
            }
        }                 
    }
    /*sobreMi.html*/
    .contenedor-sobre-mi{
        @include conteiner ("header-sobre-mi header-sobre-mi header-sobre-mi header-sobre-mi"
        "main-sobre-mi main-sobre-mi main-sobre-mi main-sobre-mi"
        "section-sobre-mi section-sobre-mi section-sobre-mi section-sobre-mi"
        "footer-sobre-mi footer-sobre-mi footer-sobre-mi footer-sobre-mi");
        header{
            @include header-d;
        }
        main{
            flex-wrap: nowrap;
            width: auto;
            div{
                padding: .3rem;
                h1{
                    font-size: 6rem;
                }
                h2{
                    font-size: 2.4rem;
                }
            }
            img{
                display: block;
                height: 32rem;
                width: 32rem;
            }
        }
        section{
            width: auto;
            h2{
                font-size: 2.2rem;
            }
            p{
                font-size: 2.2rem;
            }
        }
    }
    /*Conocimientos.html*/
    .contenedor-conocimientos{
        @include conteiner ("header-conocimientos header-conocimientos header-conocimientos header-conocimientos"
        "main-conocimientos main-conocimientos main-conocimientos main-conocimientos"
        "section-conocimientos section-conocimientos section-conocimientos section-conocimientos"
        "footer-conocimientos footer-conocimientos footer-conocimientos footer-conocimientos");
        header{
            @include header-d;
        }
        main{
            width: auto;
            h1{
                font-size: map-get($map: $font-size-mobile , $key: h1);
                
            }
            div{
                img{
                    width: 17rem;
                    height: 17rem;
                }
            }
        }
        section{
            width: auto;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .lista1{
                height: 7rem;               
            }
        }
    }
    /*portafolio.html*/
    .contenedor-portafolio{
        @include conteiner ("header{ortafolio header{ortafolio header{ortafolio header{ortafolio"
        "main{ortafolio main{ortafolio main{ortafolio main{ortafolio"
        "section{ortafolio section{ortafolio section{ortafolio section{ortafolio"
        "footer{ortafolio footer{ortafolio footer{ortafolio footer{ortafolio");
        header{
            @include header-d;
        }
        main{
            padding: 1rem;
            width: auto;
            div{
                img{
                    width: 19rem;
                    height: 19rem;
                    padding: .6rem;
                }
                p{
                    font-size: 2rem;
                }
            }
        }
    }
    /*contacto.html*/
    .contenedor-contacto{
        @include conteiner ("header-contacto header-contacto header-contacto header-contacto"
        "main-contacto main-contacto main-contacto main-contacto"
        "section-contacto section-contacto section-contacto section-contacto"
        "footer-contacto footer-contacto footer-contacto footer-contacto");
        header{
            @include header-d;
        }
        main{
            width: auto;
            h1{
                font-size: 6rem;
            }
            h2{
                font-size: 3rem;
            }
            p{
                font-size: 2.5rem;
            }
        }
        section{
            width: 97.8%;
            h1{
                font-size: 4rem;
            }
            form{
                fieldset{
                    display: grid;
                    grid-template-columns: 1fr 1fr;                   
                    div{
                        input{
                            width: 26rem;
                        }
                        &:nth-child(1){
                            order:1;
                            justify-self: end;
                        }
                        &:nth-child(2){
                            order:3;
                            position: relative;
                            bottom: 3.6rem;
                            justify-self: end;
                        }
                        &:nth-child(3){
                            order:5;
                            position: relative;
                            bottom: 7rem;
                            justify-self: end;
                        }
                        &:nth-child(4){
                            order:2;
                            justify-self: start;
                        }
                        &:nth-child(5){
                            order:3;
                            justify-self: start;
                        }
                        &:nth-child(6){
                            order:6;
                            justify-self: start;
                            position: relative;
                            left: 7rem;
                            input{
                                transition: .3s ease-in-out;
                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}