@keyframes shake{
    0% {transform: rotate(0deg)}
    10% {transform: rotate(-3deg)}
    20% {transform: rotate(5deg)}
    30% {transform: rotate(-8deg)}
    40% {transform: rotate(8deg)}
    50% {transform: rotate(-5deg)}
    60% {transform: rotate(3deg)}
    70% {transform: rotate(0deg)}
}

@keyframes palpitar{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.02);
    }
}

@mixin animacion-nav ($delay){
    animation-name: animacion-nav-img;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: $delay;
}

@keyframes animacion-nav-img{
    0%{
        transform: scale(1) ;
            
    }
    50%{
        transform: scale(1.2);
            
    }
    100%{
        transform: scale(1);
            
    }
}
