*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto slab' , serif;
}

//colores del layout
$color-principal-1: #5454C5;
$color-pricipal-2: #ADA9BB;
$color-secundario-1: #FC605E;
$color-secundario-2: #484554;
$color-header: #5A5ACB;;
//colores de los botones y callouts
$color-btn-1: #BD2330;
$color-btn-2: #4ABEA1;



//map para los tamaños de fuente
$font-size-mobile: (
    h1:4rem,
    h2:2rem,
    p: 2rem,   
    a: 2rem, 
);

@import "../utilities/animaciones.scss";