*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto slab' , serif;
}

//colores del layout
$colorPrincipal1: #5454C5;
$colorPricipal2: #ADA9BB;
$colorSecundario1: #FC605E;
$colorSecundario2: #484554;
//colores de los botones y callouts
$colorBtn1: #BD2330;
$colorBtn2: #4ABEA1;

