*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto slab' , serif;
}

//colores del layout
$colorPrincipal1: #5454C5;
$colorPricipal2: #ADA9BB;
$colorSecundario1: #FC605E;
$colorSecundario2: #484554;
//colores de los botones y callouts
$colorBtn1: #BD2330;
$colorBtn2: #4ABEA1;

//mixin para los contenedores
@mixin conteiner ($gridTAreas){
    background-color: $colorPrincipal1;
    display: grid;
    height: 100%;
    grid-template-areas: $gridTAreas;
};

//map para los tamaños de fuente
$fontSizeMobile: (
    h1: 4rem,
    h2:2rem,    
);

//extend para nav
%navM{
    display: flex;
            justify-content: center;
            margin-top: .3rem ;
            ul{
                background-color: #5A5ACB;
                padding: .6rem;
                border-radius: 1.4rem;
                li{
                    display: inline-block;
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
}
//extend para el footer
%footerM {
    div{
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
            border-bottom: 1px solid #9D9090;
            img{
                width: 3rem;
                height: 3rem;
                margin: 0.5rem;
            }
        }
    }
    .copyRight{
        margin: .3rem;
        p{
            font-weight: bold;
            text-align: center;
        }
    }
}

