//layout mobile first
.contenedorContacto{
    @include conteiner ("headerContacto"
    "mainContacto"
    "sectionContacto"
    "footerContacto");
    header{
        grid-area: headerContacto;
        position: sticky;
        top: 0%;
        z-index: 10;
        div{
            display: none;
        }
        nav{
            @extend %navM;
            
        }
    }
    main{
        grid-area: mainContacto ;
        background-color: $colorSecundario1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0rem 1rem 0rem 1rem ;
        border-radius: 2rem;
        color: white;
        padding: .4rem;
        h1{
            font-size: map-get($map: $fontSizeMobile, $key: h1 );
            text-align: center;
            text-transform: uppercase;
        }
        h2{
            text-align: center;
            font-size: map-get($map: $fontSizeMobile, $key: h2 );
        }
        p{
            text-align: center;
            font-size: 1.5rem;
        }
    }
    section{
        grid-area: sectionContacto ;
        background-color: $colorSecundario2;
        display: flex;
        flex-direction: column;
        padding: .4rem;
        margin: 1rem;
        border-radius: 2rem;
        h2{
            font-size: map-get($map: $fontSizeMobile, $key: h2 );
            text-align: center;
            color: white;
            padding: .5rem;
        }
        form{
            fieldset{
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 0px;
                div{
                    padding:.6rem;
                    display: flex;
                    justify-content: center;               
                    input{
                        width: 20rem;
                        height: 3rem;
                        border-radius: 1.3rem;
                        border: none;
                        padding-left: .3rem;
                        &:focus{
                            outline: 1;
                            outline-color: $colorBtn1;
                        }
                    }
                    &:nth-child(5){
                        input{
                            padding: 1.4rem 0rem 9rem .5rem;                 
                            
                        }
                    }
                    &:nth-child(6){
                        input{
                            width: 11rem;
                            background-color: $colorBtn2;
                            color: white;
                            font-size: 1.3rem;
                        }
                    }    
                }
            }
        }
        
    }
    footer{
        grid-area: footerContacto;
        background-color: $colorPricipal2;
        @extend %footerM;
        
    }
}