//estilos mobile-first
.contenedorConocimientos{
    @include conteiner ("header-conocimientos"
    "main-conocimientos"
    "section-conocimientos"
    "footer-conocimientos");
    header{
        grid-area: header-conocimientos;
        position: sticky;
        height: 3rem;
        top: 0%;
        z-index: 15;
        div{
            display: none;
        }
        nav{
            @extend %nav-m;
        }
    }
    main{
        grid-area: main-conocimientos ;
        background-color: $color-secundario-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0rem 1rem 0rem 1rem ;
        border-radius: 2rem;
        h1{
            font-size: map-get($map: $font-size-mobile, $key: h1 );
            color: white;
            text-align: center;
            
        }
        div{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;            
            img{
                width: 10rem;
                height: 10rem;
                padding: .6rem;
                /*animacion*/
                animation-name: palpitar;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
                /*modificando elementos especificos*/
                &:nth-child(2){
                animation-delay: .5s ;
                }
                &:nth-child(3){
                animation-delay: 1s ;
                }
                &:nth-child(4){
                animation-delay: 1.5s ;
                }
                &:nth-child(5){
                animation-delay: 2s ;
                }
                &:nth-child(6){
                animation-delay: 2.5s ;
                }
            }            
        }        
    }
    section{
        grid-area: section-conocimientos ;
        background-color: $color-secundario-2;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border-radius: 2rem;
        align-items: center;
        .lista1{
            background-color: $color-secundario-1;
            margin: 1rem;
            padding: .5rem;
            border-radius: 1rem;
            width: 25rem;
            label{
                color: white;
                text-transform: uppercase;
                border-bottom: 1px solid white;
            }
        }
        .lista2{
            @extend .lista1;
        }
        .lista3{
            @extend .lista1;
        }
        .lista4{
            @extend .lista1;
        }
        .lista5{
            @extend .lista1;
        }
        
    }
    footer{
        grid-area: footer-conocimientos;
        background-color: $color-pricipal-2;
        @extend %footer-m;
    }
}