//estilos mobile-first
.contenedor-home{
    @include conteiner ("header-home"
    "main-home"
    "section-home"
    "footer-home");
    grid-template-columns: 1fr;
    header{
        grid-area: header-home;
        @extend %header;
    }
    main{
        grid-area: main-home ;
        justify-self: center;
        background-color: $color-secundario-1;
        margin: 1rem 1rem 0rem 1rem ;
        border-radius: 2rem;
        width: fit-content;
        img{
            display: none;
        }
        div{
            p{
                color: white;
                text-align: center;
                font-size: map-get($map: $font-size-mobile , $key: p);
            }
            h1{
                color: white;
                text-transform: uppercase;
                font-size: map-get($map: $font-size-mobile, $key: h1) ;
                text-align: center;
                padding: .5rem 0rem;
            }
            div{
                display: flex;
                justify-content: center;
                a{
                    background-color: $color-btn-1;
                    margin: 1rem;
                    border-radius: .2rem;                    
                    text-decoration: none;
                    color: white;
                    padding:.6rem;
                    font-size: map-get($map: $font-size-mobile , $key: a ); 
                    &:hover{
                    /*animacion*/
                    animation-name: shake;
                    animation-duration: .7s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                    }
                }
            }
            
        }
    }
    section{
        grid-area: section-home ;
        background-color: $color-secundario-2;
        margin: 1rem;
        border-radius: 2rem;
        justify-self: center;
        h2{
            color: white;
            text-align: center;
            flex-wrap: wrap;
            font-size: map-get($map: $font-size-mobile, $key: h2 );
            margin: .6rem 0rem;
        }
        div{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            img{                
                width: 13rem;
                height: 13rem;
                padding: 1rem;
                /*animacion*/
                animation-name: palpitar;
                animation-duration: 3.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out; 
            }
            
        }
        .btn{
            a{
            background-color: $color-btn-2;
            margin: 1rem;
            border-radius: .2rem;                    
            text-decoration: none;
            color: white;
            padding:.6rem;
            font-size: map-get($map: $font-size-mobile , $key: a);
            &:hover{
            /*animacion*/
            animation-name: shake;
            animation-duration: .7s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            }
            }
    }
        
    }
    footer{
        grid-area: footer-home;
        background-color: $color-pricipal-2;
        @extend %footer-m;
    }
}