@import "../utilities/animaciones.scss";
//estilos mobile-first
.contenedorHome{
    @include conteiner ("header-home"
    "main-home"
    "section-home"
    "footer-home");
    header{
        grid-area: header-home;
        height: 3rem;
        position: sticky;
        top: 0%;
        z-index: 15;
        div{
            display: none;
        }
        nav{
            @extend %nav-m;
        }
    }
    main{
        grid-area: main-home ;
        background-color: $color-secundario-1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0rem 1rem 0rem 1rem ;
        border-radius: 2rem;
        img{
            display: none;
        }
        div{
            p{
                color: white;
                text-align: center;
                font-size: 2.3rem;
            }
            h1{
                color: white;
                text-transform: uppercase;
                font-size: map-get($map: $font-size-mobile, $key: h1 ) ;
                text-align: center;
                padding: .5rem;
            }
            div{
                display: flex;
                justify-content: center;
                
                a{
                    background-color: $color-btn-1;
                    margin: 1rem;
                    border-radius: .2rem;                    
                    text-decoration: none;
                    color: white;
                    padding:.6rem;
                    font-size: 1.4rem; 
                    /*animacion*/
                    animation-name: shake;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }
            }
            
        }
    }
    section{
        grid-area: section-home ;
        background-color: $color-secundario-2;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border-radius: 2rem;
        align-items: center;
        justify-content: center;
        h2{
            color: white;
            text-align: center;
            flex-wrap: wrap;
            font-size: map-get($map: $font-size-mobile, $key: h2 );
            margin: .6rem;
        }
        div{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            img{                
                width: 13rem;
                height: 13rem;
                padding: 1rem;
                /*animacion*/
                animation-name: palpitar;
                animation-duration: 3.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out; 
            }
            
        }
        .btn{
            a{
            background-color: $color-btn-2;
            margin: 1rem;
            border-radius: .2rem;                    
            text-decoration: none;
            color: white;
            padding:.6rem;
            font-size: 1.4rem;
            /*animacion*/
            animation-name: shake;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-delay: .3s;
            }
    }
        
    }
    footer{
        grid-area: footer-home;
        background-color: $color-pricipal-2;
        @extend %footer-m;
    }
}