//estilos mobile-first
.contenedorPortafolio{
    @include conteiner ("headerPortafolio"
    "mainPortafolio"
    "footerPortafolio");
    header{
        grid-area: headerPortafolio;
        position: sticky;
        height: 3rem;
        top: 0%;
        z-index: 10;
        div{
            display: none;
        }
        nav{
            @extend %navM;
        }
    }
    main{
        grid-area: mainPortafolio ;
        background-color: $colorSecundario1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 0rem 1rem 1rem 1rem ;
        border-radius: 1.3rem;
        div{
            background-color: $colorSecundario2;
            padding: .5rem;
            margin: .6rem;
            border-radius: 2rem;
            /*animacion*/
            animation-name: palpitar;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            /*modificando elementos especificos*/
            &:nth-child(2){
                animation-delay: .5s ;
            }
            &:nth-child(3){
                animation-delay: 1s ;
            }
            &:nth-child(4){
                animation-delay: 1.5s ;
            }
            &:nth-child(5){
                animation-delay: 2s ;
            }
            &:nth-child(6){
                animation-delay: 2.5s ;
            }
            img{
                width: 11rem;
                height: 11rem;
                padding: .3rem;
            }
            p{
                color: white;
                text-align: center;
                font-size: 1.4rem;
            }
            }            
        }
    footer{
        grid-area: footerPortafolio;
        background-color: $colorPricipal2;
        @extend %footerM;
    }
}