//estilos mobile-first
.contenedorSobreMi{
    @include conteiner ("header-sobre-mi"
    "main-sobre-mi"
    "section-sobre-mi"
    "footer-sobre-mi");
    header{
        grid-area: header-sobre-mi;
        height: 3rem;
        position: sticky;
        top: 0%;
        z-index: 15;
        div{
            display: none;
        }
        nav{
            @extend %nav-m;
        }
    }
    main{
        grid-area: main-sobre-mi ;
        background-color: $color-secundario-1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin:1rem ;
        border-radius: 2rem;
        div{
            padding: 1rem;
            h1{
                color: white;
                text-transform: uppercase;
                font-size: map-get($map: $font-size-mobile, $key: h1 );
                text-align: center;
                
            }        
            h2{
                color: white;            
                font-size: 2rem;
                text-align: center;
                
            }
        } 
        img{
             display: none;
        }           
        
    }
    section{
        grid-area: section-sobre-mi ;
        background-color: $color-secundario-2;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0rem 1rem 1rem 1rem;
        border-radius: 2rem;
        justify-content: center;
        h2{
            color: white;
            text-align: center;
            flex-wrap: wrap;
            font-size: map-get($map: $font-size-mobile, $key: h2 );
            margin: .6rem;
        }
        p{
            color: white;
            text-align: center;
            font-size: 1.6rem;
        }
        
        
    }
    footer{
        grid-area: footer-sobre-mi;
        background-color: $color-pricipal-2;
        @extend %footer-m;
    }
}