//estilos mobile-first
.contenedorSobreMi{
    @include conteiner ("headerSobreMi"
    "mainSobreMi"
    "sectionSobreMi"
    "footerSobreMi");
    header{
        grid-area: headerSobreMi;
        position: sticky;
        top: 0%;
        z-index: 10;
        div{
            display: none;
        }
        nav{
            @extend %navM;
        }
    }
    main{
        grid-area: mainSobreMi ;
        background-color: $colorSecundario1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin:1rem ;
        border-radius: 2rem;
        div{
            padding: 1rem;
            h1{
                color: white;
                text-transform: uppercase;
                font-size: map-get($map: $fontSizeMobile, $key: h1 );
                text-align: center;
                
            }        
            h2{
                color: white;            
                font-size: 2rem;
                text-align: center;
                
            }
        } 
        img{
             display: none;
        }           
        
    }
    section{
        grid-area: sectionSobreMi ;
        background-color: $colorSecundario2;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0rem 1rem 1rem 1rem;
        border-radius: 2rem;
        justify-content: center;
        h2{
            color: white;
            text-align: center;
            flex-wrap: wrap;
            font-size: map-get($map: $fontSizeMobile, $key: h2 );
            margin: .6rem;
        }
        p{
            color: white;
            text-align: center;
            font-size: 1.6rem;
        }
        
        
    }
    footer{
        grid-area: footerSobreMi;
        background-color: $colorPricipal2;
        @extend %footerM;
    }
}